{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header>
    <h2>Contact Us</h2>
</header>

<div class="container">
    <div class="card">
        <h5>NAME</h5>
        <input placeholder="Name"><br><br>
        <h5>EMAIL</h5>
        <input placeholder="Email"><br><br>
        <h5>MESSAGE</h5>
        <textarea placeholder="Message"></textarea><br><br>
        <button>Send</button>
    </div>
</div>

</body>
</html>
