{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header>
    <h2>Member Login</h2>
</header>

<div class="container">
    <div class="card">
        <form>
            <h5>USERNAME</h5>
            <input type="text" style="width: 200px; height: 40px; font-size: 13px;" placeholder="Username"><br><br>
            <h5>PASSWORD</h5>
            <input type="password" style="width: 200px; height: 40px; font-size: 13px;" placeholder="Password"><br><br>
            <button>Login</button>
        </form>
    </div>
</div>

</body>
</html>
